body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

p a.btn.btn-primary {
    margin-left: 70.7rem;
    background-color: #A06E56;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

    p a.btn.btn-primary:hover {
        background-color: #8a5946;
    }

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 20px;

}

    .table thead {
        background-color: #d8cdcd;
        color: #000;
    }

        .table thead th {
            padding: 12px;
            text-align: left;
            font-weight: 600;
        }

    .table tbody tr {
        background-color: #d8cdcd;
        overflow: hidden;
    }

    .table tbody td {
        padding: 12px;
        color: #000;
    }

tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-radius: 30%;
}

/* Estilo para célula de modificação com alerta */
.alert-info {
    background-color: #f2f2f2;
    color: #333;
    font-style: italic;
    padding: 8px;
}

/* Botões dentro da tabela */
.btn.btn-sm {
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: bold;
    color: #fff;
}

    .btn.btn-sm.btn-warning {
        background-color: #a2b59f;
    }

        .btn.btn-sm.btn-warning:hover {
            background-color: #8c9f89;
        }

    .btn.btn-sm.btn-danger {
        background-color: #c22047;
    }

        .btn.btn-sm.btn-danger:hover {
            background-color: #7f1e47;
        }

/* Alinhamento da coluna Ação */
.text-center {
    text-align: center;
}
