
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    padding: 0;
    width: 100%;
    height: 100%;

}


.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 40px;
}

.login-form {
    font-size: 1.2rem;
    width: 100%;
    max-width: 500px;
    color: #fff;
    margin-bottom: 1rem;
}

.login-title {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: bold;
}

.input-field {
    width: 100%;
  
    padding: 14px;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1rem;
}

.btn-login {
    background-color: #b57b5b;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 7%;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

    .btn-login:hover {
        background-color: #a76a4b;
    }

.cadastro-link {
    text-align: center;
    display: block;
    color: rgb(181, 123, 91);
    font-size: 0.95rem;
}

.cadastro-link:hover {
        color: white;
 }

.image-side {
    background-image: url('/image/imageLogin.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#senha {
    position: relative;
    padding-right: 35px; /* Pra criar espaço pro olho dentro do campo */
}

.campo-senha {
    position: relative;
    width: 100%;
}

#senha {
    padding-right: 35px; /* Espaço pro olho não tampar o texto */
}

#olho {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #b57b5b;
}

#olho:hover {
    opacity: 0.7;
}


.Esqueceu-link {
    color: #82283b;
}